* {
    background-color: black;
    color: white;
}

body{
    display: flex;
}

.fila {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: center;
    padding: 0rem 1rem 1rem 1rem;
}

img {
    width: 20rem;
    height: 20rem;
}

.perfilimg{
    width: 40px;
    height: 40px;
}

.inicio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15rem;
}

.inicio img{
    width: 10rem;
    height: 10rem;
}

.imagen{
    width: 15rem;
    display: flex;
    justify-content: center;
}

.inicio .titulo{
    width: 35%;
    display: flex;
}

.botones{
    display: flex;
    align-items: flex-start;
    padding-top: 15px;

}

Aside {
    display: flex;
    width: 80%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    position: sticky top 0;
    border-right: 1px solid #ccc;
    position: sticky;
    top:0%;
    
}

main{
    width: 80%;
}

.menu {
    display: flex;
    height: 100vh;
    justify-content: flex-start;
    margin: none;
    padding: none;
    align-items: center;
    position: sticky top 0;
    animation-delay: 10s;
    
}

.menu .foto{
    display: flex;
        
}
section{
    width: 20%;
}

.texto {
    display: flex;
    height: 55px;
    width: 26rem;
}
.columna {
    display: flex;
    flex-direction: column;
    width: 42rem;
    justify-content: flex-start;
}

.segundacolumna {
    display: flex;
    justify-content: space-between;
    width: 64%;
    height: 50px;
    gap: 1rem;
}
.segundacolumna .publi{
    display: flex;

}


section aside span {
    display: flex;
    padding-left: 5px;
    align-items: center;
}


.boton {
    background: none;
    cursor: pointer;
    border-radius: 18px 10px solid green;
}

.textofila {
        display: flex;
        flex-direction: row;
        border-top: 1px solid #ccc;
        height: 3rem;
        align-items: center;
        justify-content: space-evenly;
    }

    footer{
        display: flex;
    }

/*
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  */
  
