* {
    background-color: black;
    color: white;
}

body{
    display: flex;
}

.fila {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: center;
    padding: 2rem;
}

img {
    width: 20rem;
    height: 20rem;
}

.perfilimg{
    width: 40px;
    height: 40px;
}

.inicio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inicio img{
    width: 10rem;
    height: 10rem;
}

.inicio .titulo{
    width: 35%;
    display: flex;
}

.botones{
    display: flex;
    align-items: flex-start;
    padding-top: 15px;

}

Aside {
    display: flex;
    width: 80%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    position: sticky top 0;
    border-right: 1px solid #ccc;
    position: sticky;
    top:0%;
    
}

main{
    width: 85%;
}

.menu {
    display: flex;
    height: 100vh;
    justify-content: flex-start;
    margin: none;
    padding: none;
    align-items: center;
    position: sticky top 0;
    animation-delay: 10s;
    
}

.menu .foto{
    display: flex;
        
}
section{
    width: 15%;
}

.texto{
    display: flex;
    height: 55px;
}

.columna{
    display: flex;
    flex-direction: column;
}

.segundacolumna{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    height: 50px;
    gap: 6px;
}
.segundacolumna .publi{
    display: flex;
    align-items: flex-end;
}


section aside span {
    display: flex;
    padding-left: 5px;
    align-items: center;
}


.boton {
    background: none;
    cursor: pointer;
    border-radius: 18px 10px solid green;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 0.75s, visibility 0.75s;
  }
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  